<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <import resource="spring-orm-context.xml"/>

    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="spring.persistence"/>-->
    <!--<context:component-scan base-package="spring.aspect"/>-->

    <bean id="myUserDao" class="spring.dao.MyUserDao">
        <property name="factory" ref="entityManagerFactory"/>
    </bean>

    <bean id="myUserService" class="spring.service.MyUserService">
        <property name="myUserDao" ref="myUserDao"/>
    </bean>


    <aop:aspectj-autoproxy proxy-target-class="true">
        <aop:include name="myUserServiceLoggingAspect"/>
    </aop:aspectj-autoproxy>

    <bean id="myUserServiceLoggingAspect" class="spring.aspect.MyUserServiceLoggingAspect"/>

</beans>